source/template/pages/sitemap.pug
extends ../_template

block variables
    - var title = 'Sitemap';

block content
    .wrapper
        .header__bottom.header-bottom
            .header__menu-top.menu-top
                .container.menu-top__container
                    a(href="#").menu-top__logo
                        img.menu-top__logo-pic(src="assets/img/logo.svg")

                    .menu-top__online-bank
                        a(href="#").menu-top__btn.btn.btn--spindrift
                            .btn__icon
                                include ../../images/online-bank.svg
                            .btn__text Sitemap


        ul.container.sitemap
            li
                a(href='./index.html' target='_blank') 1. Главная ✓
            li
                a(href='./news.html' target='_blank') 2. Новости ✓
            li
                a(href='./customerCredit.html' target='_blank') 3. Потребительский кредит ✓
            li
                a(href='./article.html' target='_blank') 4. Статья ✓
            li
                a(href='./debitCard.html' target='_blank') 5. Дебетовые карты ✓
            li
                a(href='./exchangeRate.html' target='_blank') 6. Курс валют ✓
            li
                a(href='./management.html' target='_blank') 7. Менеджмент ✓
            li
                a(href='./career.html' target='_blank') 8. Карьера ✓
            li
                a(href='./work.html' target='_blank') 9. Работа ✓
            li
                a(href='./businessIp.html' target='_blank') 10. Бизнесу и ИП ✓
            li
                a(href='./404.html' target='_blank') 11. 404 ✓
            li
                a(href='./transfer.html' target='_blank') 12. Перевод на карту ✓
            li
                a(href='./vacancies.html' target='_blank') 13. Вакансии ✓
            li
                a(href='./startCareer.html' target='_blank') 14. Старт карьеры ✓
            li
                a(href='./bankDeposit.html' target='_blank') 15. Вклад Перспектива плюс ✓
            li
                a(href='./allTarifs.html' target='_blank') 16. Все тарифы ✓
            li
                a(href='./internetBank.html' target='_blank') 17. Интернет-банк ✓
            li
                a(href='./searchResults.html' target='_blank') 18. Результаты поиска ✓
            li
                a(href='./samsungPay.html' target='_blank') 19. Samsung Pay ✓
            li
                a(href='./atm.html' target='_blank') 20. Отделения и банкоматы ✓
            li
                a(href='./feedback.html' target='_blank') 21. Обратная связь ✓

build/sitemap.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title>Sitemap</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="manifest" href="assets/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--link(rel='icon', type='image', href='assets/img/favicon-16x16.png', sizes='16x16')-->
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="dist-top/css/chunk-vendors.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="dist-top/css/app.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" href="dist-bot/css/chunk-vendors.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="dist-bot/css/app.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" href="exchRates/css/chunk-vendors.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="exchRates/css/app.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" href="vue-rko/css/chunk-vendors.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="vue-rko/css/app.css" media="none" onload="if(media!='all')media='all'"><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="header__bottom header-bottom">
        <div class="header__menu-top menu-top">
          <div class="container menu-top__container"><a class="menu-top__logo" href="#"><img class="menu-top__logo-pic" src="assets/img/logo.svg"></a>
            <div class="menu-top__online-bank"><a class="menu-top__btn btn btn--spindrift" href="#">
                <div class="btn__icon"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 12l-4-4v3H2v2h8v3l4-4zm8 0a10 10 0 01-19.54 3h2.13a8 8 0 100-6H2.46A10 10 0 0122 12z" fill="#fff"/></svg></div>
                <div class="btn__text">Sitemap</div></a></div>
          </div>
        </div>
      </div>
      <ul class="container sitemap">
        <li><a href="./index.html" target="_blank">1. Главная ✓</a></li>
        <li><a href="./news.html" target="_blank">2. Новости ✓</a></li>
        <li><a href="./customerCredit.html" target="_blank">3. Потребительский кредит ✓</a></li>
        <li><a href="./article.html" target="_blank">4. Статья ✓</a></li>
        <li><a href="./debitCard.html" target="_blank">5. Дебетовые карты ✓</a></li>
        <li><a href="./exchangeRate.html" target="_blank">6. Курс валют ✓</a></li>
        <li><a href="./management.html" target="_blank">7. Менеджмент ✓</a></li>
        <li><a href="./career.html" target="_blank">8. Карьера ✓</a></li>
        <li><a href="./work.html" target="_blank">9. Работа ✓</a></li>
        <li><a href="./businessIp.html" target="_blank">10. Бизнесу и ИП ✓</a></li>
        <li><a href="./404.html" target="_blank">11. 404 ✓</a></li>
        <li><a href="./transfer.html" target="_blank">12. Перевод на карту ✓</a></li>
        <li><a href="./vacancies.html" target="_blank">13. Вакансии ✓</a></li>
        <li><a href="./startCareer.html" target="_blank">14. Старт карьеры ✓</a></li>
        <li><a href="./bankDeposit.html" target="_blank">15. Вклад Перспектива плюс ✓</a></li>
        <li><a href="./allTarifs.html" target="_blank">16. Все тарифы ✓</a></li>
        <li><a href="./internetBank.html" target="_blank">17. Интернет-банк ✓</a></li>
        <li><a href="./searchResults.html" target="_blank">18. Результаты поиска ✓</a></li>
        <li><a href="./samsungPay.html" target="_blank">19. Samsung Pay ✓</a></li>
        <li><a href="./atm.html" target="_blank">20. Отделения и банкоматы ✓</a></li>
        <li><a href="./feedback.html" target="_blank">21. Обратная связь ✓</a></li>
      </ul>
    </div>
    <script src="dist-top/chunk-vendors.js" defer></script>
    <script src="dist-top/app.js" defer></script>
    <script src="assets/js/foundation.js" defer></script>
    <script src="assets/js/app.js" defer></script>
  </body>
</html>
